.event-modal-container {
  /*position: absolute;*/
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.event-modal-container > div:nth-of-type(1) {
  flex: 1;
  padding: 40px 20px 40px 40px;
  box-sizing: border-box;
}

.event-modal-container > div:nth-of-type(2) {
  flex: 2.5;
  padding: 40px 20px;
  box-sizing: border-box;
}
.event-modal-time {
  color: lightgray;
}
.event-modal-value {
  font-size: 30px;
  display: inline-block;
  color: white;
}

.event-details h2 {
  font-weight: lighter;
  margin-bottom: 15px;
}

/* Overwriting */
.react-modal-body {
  width: 60% !important;
  min-height: 400px !important;
}
.react-modal-body-close {
  z-index: 10;
}
@media only screen and (max-width: 1024px) {
  .event-modal-container {
    /*position: absolute;*/
    width: 100%;
    height: 100%;
    display: block;
    justify-content: center;
  }

  .event-modal-container > div:nth-of-type(1) {
    padding: 20px;
    padding-bottom: 0;
    box-sizing: border-box;
  }

  .event-modal-container > div:nth-of-type(2) {
    flex: none;
    padding: 20px;
    box-sizing: border-box;
  }

  .react-modal-body {
    width: 100% !important;
    height: 100vh;
    min-height: 200px !important;
  }
}

.event-modal {
  width: 80%;
}
.event-modal .ant-modal-body {
  padding: 0px;
}
.left-container .ant-form-item-label label{
  color: white
}

.event-details .ant-form-item {
 margin-bottom: 5px !important;
}