.text-only{
    width: 66.66%;
    min-height: calc(100vh - 100px);
    padding: 20px 80px 120px 0;
    position: relative;
    .section-title-and-lecture{
        h5{
            font-size: 1.5em;
        }
    }

    .section-content-title{
        font-size: 2.5em;
        font-weight: 900;
    }

    .section-content-description{
        font-size: 1.2em;
        line-height: 20px;
    }
}