.quizz{
    position: relative;
    .quizz-header{
        width: 66.66%;
        font-size: 1.3em;
        padding: 0 20px;
    }

    .answered-correctly_container{
        width: 33.334%;
        display: flex;
        justify-content: flex-start;
        position: sticky;
            top: 50%;
            transform: translateY(-50%);
            pointer-events: none;

        &>div{
            width: 200px;
            height: 200px;
            border-radius: 50%;
            overflow: visible;
            background: #385bce;
            color: #fff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-left: 10%;
            

            .fa{
                font-size: 5em;
            }

            h3{
                font-size: 2em;
                font-weight: 100;
            }

            h5{
                font-size: 1em;
            }
        }
    }

    &>.quizz-description{

        padding: 10px 20px;
        width: 66.66%;

        .quizz-details_container{
            width: 100%;

            .quizz-details-header{
                font-size:2.2em;
                font-weight: 900;
            }

            p{
                font-size: 1em;
            }
        }

        .start-quizz-btn{
            border: none;
            outline: none;
            background: #195EC8;
            color: #fff;
            font-size: 1.5em;
            padding: 10px 20px;
            border-radius: 20px;
        }
    }

    .quizzes{

        padding: 20px;
        .quizzes_container{
            width: 66.66%;

            .question{
                font-size: 2em;
            }

            .fill-the-blanks_container{
                .fill-the-blanks{
                    font-size: 1.2em;
                    .fill-the-blanks_input_container{
                        border-bottom: 1px solid rgba(0,0,0,.7);
                        display: inline-block;
                        input{
                            outline: none;
                            border: none;
                            padding: 0 10px;
                            font-weight: 900;
                        }
    
                        .fa{
                            color: #17D292;
                        }
                    }
    
                    
                }
                        .fill-blanks-answers_container{
                            border: 1px solid #aaa;
                            padding: 10px 0;
                            flex-wrap: wrap;
                            .fill-blanks-answer{
                                font-size: 1.2em;
                            }
                        }
            }

            .options{
                .option{
                    padding: 10px;
                    display: flex;
                    align-items: center;
                    background: #17D292;
                }

                .to-enter{
                    button{
                        border: none;
                        outline: none;
                        background: none;
                    }
                }

                .pair{
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 10px;

                    &>div{
                        flex: 0 0 45%;
                        max-width: 45%;
                        height: 50px;
                        border: 1px dashed rgba(0,0,0,.5);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 1.3em;
                    }
                }
            }

            .drag-btn_container{
                display: flex;
                align-items: center;
                min-width: 100%;
                min-height: 80px;

                .drag-btn{
                    border: none;
                    outline: none;
                    background: #385BCE;
                    padding: 10px 20px;
                    font-size: 1.5em;
                    color: #fff;
                    margin-right: 10px;
                }
            }
        }

        .submit-quizz-btn{
            border: none;
            outline: none;
            background: #17D292;
            color: #fff;
            font-size: 1.5em;
            padding: 10px 20px;
            border-radius: 20px;
            display: flex;
            align-items: center;

            &> .btn-circle{
                width: 15px;
                height: 15px;
                border: 1px solid #fff;
                border-radius: 50%;
                margin-right: 10px;
            }
        }
    }

    &>.quizz-footer_container{
        width: 100%;
        position: relative;
        margin-top: 120px;

    }
}


// media queries for devices under 768

@media (max-width: 768px){
    .quizz{
        display: flex;
        flex-direction: column;
        width: 100%;

        
        .quizz-header{
            width: 66.66%;
            font-size: 1.3em;
            padding: 0 20px;
        }
    
        .answered-correctly_container{
            width: 100%;
            display: flex;
            justify-content: center;
            position: static;
                transform: translateY(0);
                order: 2;
    
            &>div{
    
                h5{
                    font-size: 1.3em;
                }
            }
        }
    
        &>.quizz-description{
            width: 100%!important;
            padding: 10px 20px;
            order: 1;
            margin: 0!important;
    
            .quizz-details_container{
    
                p{
                    font-size: 1.3em;
                }
            }
    
            .start-quizz-btn{
                border: none;
                outline: none;
                background: #195EC8;
                color: #fff;
                font-size: 1.5em;
                padding: 10px 20px;
                border-radius: 20px;
            }
        }
    
        .quizzes{
    
            order: 3;
            .quizzes_container{
                width: 100%!important;
    
                .drag-btn_container{
                    flex-wrap: wrap;
                    justify-content: space-between;
    
                    .drag-btn{
                        flex: 0 0 48%;
                        max-width: 48%;
                        margin: 0;
                        margin-bottom: 10px;
                    }
                }
            }
    
            .submit-quizz-btn{
                border: none;
                outline: none;
                background: lightseagreen;
                color: #fff;
                font-size: 1.5em;
                padding: 10px 20px;
                border-radius: 20px;
                display: flex;
                align-items: center;
    
                &> .btn-circle{
                    width: 15px;
                    height: 15px;
                    border: 1px solid #fff;
                    border-radius: 50%;
                    margin-right: 10px;
                }
            }
        }
    
        &>.quizz-footer_container{
            width: 66.66%;
            position: relative;
            margin-top: 120px;
            order: 4;
    
        }

        &>*{
            width: 100%!important;
        }
    }
}